<div class="col-md-12">
    <form action="{{action}}" method="POST">
        {{!-- User Information --}}
        <div class="section-wrapper">
            <div class="section-title">
                <h4><i class="fas fa-user-alt"></i> User Information</h4>
                <hr class="my-3">
            </div>
            <div class="section-content">
                <div class="form-row">
                    <div class="form-group col required">
                        <label for="userType">Account Type</label>
                        <select type="text" id="userType" name="userType" class="form-control" value="userType" required>
                            <option value="" disabled selected hidden>Choose One</option>
                            <option value="admin">Admin</option>
                            <option value="manager">Manager</option>
                            <option value="employee">Employee</option>
                        </select>
                    </div>
                    <div class="form-group col required">
                        <label for="id">Employee ID</label>
                        {{#if isUpdate}}
                        <input type="text" value="{{existingUser.id}}" class="form-control" readonly>
                        {{else}}
                        <input type="text" placeholder = "Employee ID #" id="eID" name="eID" class="form-control" required>
                        {{/if}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col required">
                        <label for="firstName">First Name</label>
                        <input type="text" placeholder="First Name" id="firstName" name="firstName" class="form-control" value="{{existingUser.firstName}}" required>
                    </div>
                    <div class="form-group col required">
                        <label for="lastName">Last Name</label>
                        <input type="text" placeholder="Last Name" value="{{existingUser.lastName}}" id="lastName" name="lastName" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col required">
                        <label for="division">Division</label>
                        <input type="text" placeholder="Division" id="division" name="division" class="form-control" required>
                    </div>
                    <div class="form-group col required">
                        <label for="department">Department</label>
                        <input type="text" placeholder="Deparment" id="department" name="department" class="form-control" required> 
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col required">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" placeholder="Job Title" id="jobTitle" name="jobTitle" class="form-control" required> 
                    </div>
                    <div class="form-group col required">
                        <label for="manager">Manager</label>
                        <input type="text" placeholder="Manager ID" id="manager" name="manager" class="form-control" required> 
                    </div>
                </div>
                <div class="form-row">
                     <div class="form-group col required">
                        <label for="email">E-mail</label>
                        <input type="text" placeholder="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group col {{#unless isUpdate}}required{{/unless}}">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <input type="password" placeholder="{{#unless isUpdate}}Enter Password{{else}}Update Password{{/unless}}" id="password" name="password" class="form-control" {{#unless isUpdate}}required{{/unless}}>
                            <div class="input-group-append">
                                <div onclick="showPass()" class="btn btn-secondary"><i onclick="showPass()" class="far fa-eye" style="margin-right: 0px;"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:right;">
                <button type="button" id="restrictions" name="restrictions" class="btn btn-outline-primary">Set Restrictions</button>
                <button type="submit" id="submit" name="submit" class="btn btn-primary justfiy-content-end"><i class="far fa-save"></i> {{submitButtonText}}</button>
            </div>
            
        </div>
    </form>
</div>

<script>
     $(document).ready(function(){
        $(document).on("click", "#restrictions", function(e){
            e.preventDefault();
        })
     })
    /**
    * Displays the password
    * Retrieved from https://www.w3schools.com/howto/howto_js_toggle_password.asp
    */
    function showPass()
    {
        let paswordField = document.getElementById("password");

        if (paswordField.type === "password")
        {
            paswordField.type = "text";
        }
        else
        {
            paswordField.type = "password";
        }
    }
</script>