<div class="col-md-12">
    <div class="table-buttons" id="table-buttons">
        <a href="/orders/request" role="button" class="btn btn-outline-dark" id="create-new"><i class="fas fa-plus"></i>  Request New Order</a>
    </div>
</div>
{{!-- Displays all users --}}
<div class="col-md-12">
    <table id="filterable-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Order #</th>
                <th scope="col">Division</th>
                <th scope="col">Order Created</th>
                <th scope="col">Deliver By</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr>
                    <td><a href="/orders/view/{{this.order_id}}"> {{counter @index}}</a></td>
                    <td><a href="/orders/view/{{this.order_id}}" id="orderId-{{this.order_id}}">{{this.order_id}}</a></td>
                    <td><a href="/orders/view/{{this.order_id}}">{{this.department}}</a></td>
                    <td><a href="/orders/view/{{this.order_id}}">{{formatDate this.createdAt}}</a></td>
                    <td><a href="/orders/view/{{this.order_id}}">{{formatDate this.delivery_date}}</a></td>
                    <td><a href="/orders/view/{{this.order_id}}">{{this.priority}}</a></td>
                    <td 
                        {{#if (isdefined this.status "In Progress")}}
                        style="background-color:#93d1e8;  color:black; font-weight:900"
                    {{/if}}
                    {{#if (isdefined this.status "Completed")}}
                        style="background-color:#8AFF8A; color:black; font-weight:900"
                    {{/if}}
                    {{#if (isdefined this.status "Pending Material")}}
                        style=" background-color:#f7ff96; color:black; font-weight:900"
                    {{/if}}
                    {{#if (isdefined this.status "Not Started")}}
                        style="background-color:#FBCEB1; color:black; font-weight:900"
                    {{/if}}
                    {{#if (isdefined this.status "In Progress/Pending Material")}}
                        style="background-color:#e5e3ff; color:black; font-weight:900"
                    {{/if}}
                    {{#if (isdefined this.status "Pending Sales Approval")}}
                        style="background-color:#c9d0c9; color:black; font-weight:900"
                    {{/if}}
                    {{#if (isdefined this.status "Pending Production Approval")}}
                        style="background-color:#ff9aa2; color:black; font-weight:900"
                    {{/if}}
                    ><a href="/orders/view/{{this.order_id}}">{{this.status}}</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    function deleteUser(id){
        if(confirm("Are you sure you want to delete this user?")){
            window.location.href = "users/delete/" + id;

        }

    }
    
</script>

<style>
    #filterable-table>tbody>tr:hover {
        cursor: pointer;
        color: #fff;
        background-color:#BF2B45;
        transition: background-color 0.3s;
    }

</style>
