<div class="col-md-12">
    {{!-- Action Buttons --}}
    <div class="header-action-buttons pull-right">
        {{#if user.admin}}
        <a href="/users/delete/{{order.id}}" role="button" class="btn btn-danger delete" id="delete" class="delete"data-confirm="Are you sure to delete Employee ID# {{order.id}}?"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a>
        {{/if}}
    </div>

    {{!-- User Information --}}
    {{#if order.productionTeam}}
    <form action="/orders/assign/{{order.order_id}}" method="POST">
    {{/if}}
    <div class="section-wrapper">
        <div class="section-title">
            <h4><i class="fas fa-cogs"></i> Order Information</h4>
            <hr class="my-3">
        </div>
        <div class="section-content">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-row" style="padding-bottom: 15px;">
                        <div class="form-group col">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {{#if order.productionTeam}}
                                        <button type="submit" id="employees" name="employees" class="btn btn-outline-success">Assign Production</button>
                                    
                                {{else}}
                                <form action="/orders/approved/{{order.order_id}}" method="POST">
                                    <button type="submit" id="staff" name="staff" class="btn btn-outline-success">Approve</button>
                                </form>
                                {{/if}}
                                
                                <button type="button" id="staff" name="staff" class="btn btn-outline-danger">Reject</button>
                            </div>
                            <div class="btn-group" role="group" style="float:right" aria-label="Basic example">
                                <button type="button" id="update" name="update" class="btn btn-outline-primary">Update</button>
                                <button type="button" id="delete" name="delete" class="btn btn-outline-danger">Delete</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="id">Status</label>
                            <input type="text" class="form-control" name="id" id="id" value="{{order.status}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="managerId">Division</label>
                            <input type="text" class="form-control" name="managerId" id="managerId" value="{{order.department}}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="firstName">Sales</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" value="{{order.salesEmployeeId}}" readonly>
                        </div>
                        {{#if order.productionTeam}}
                        <div class="form-group col display-user">
                            <label for="lastName">Production</label>
                            <select type="text" class="form-control" name="productionEmployee" id="productionEmployee" value="{{order.productionEmployeeId}}">
                                <option value="">Choose One</option>
                                {{#each order.productionTeam}}
                                    <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
                                {{/each}}
                            </select>
                        </div>
                         {{else}}
                        <div class="form-group col display-user">
                            <label for="lastName">Production</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" value="{{order.productionEmployeeId}}" readonly>
                        </div>
                        {{/if}}
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="managerFirstName">Sales Manager</label>
                            <input type="text" class="form-control" name="managerFirstName" id="managerFirstName" value="{{order.salesManagerId}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="managerLastName">Production Manager</label>
                            <input type="text" class="form-control" name="managerLastName" id="managerLastName" value="{{order.productionManagerId}}" readonly>
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="division">Data Requested</label>
                            <input type="text" class="form-control" name="division" id="division" value="{{formatDate order.createdAt}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="department">Deliver By</label>
                            <input type="text" class="form-control" name="department" id="department" value="{{formatDate order.delivery_date}}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="jobTitle">Priority</label>
                            <input type="text" class="form-control" name="jobTitle" id="jobTitle" value="{{order.priority}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="email">Invoiced</label>
                            <input type="text" class="form-control" name="email" id="email" value="${{order.invoiced_amount}}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" style="padding-left: 40px">
                    <ul class="nav" style="background-color: #222222;">
                        <li class="nav-item active">
                            <a class="nav-link active" href="#">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Not Started</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">In Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Completed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">External Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Material Requests</a>
                        </li>
                    </ul>
                    <div style="padding-top:20px;">
                        <table id="filterable-table" class="table table-bordered table-striped">
                            <thead style="width:100%">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Produce</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each order.items}}
                                    {{#each this.Production_Items}}

                                    <tr  onclick='getModel({{stringify this}})'>
                                        <td><a>{{counter @index}}</a></td>
                                        <td><a>{{this.name}}</a></td>
                                        <td><a>{{this.details}}
                                        </a></td>
                                        <td><a>{{this.stock_quantity}}</a></td>
                                        <td><a>{{this.production_quantity}}</a></td>
                                        <td><a>{{this.status}}</a></td>
                                        <td><a>{{add this.stock_quantity this.production_quantity}}</a></td>
                                        <td><a>{{this.balance}}</a></td>
                                    </tr>
                                    {{/each}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="requestModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="requestContent"></div>
                </div>
            </div>
        </div>
    </div>
    {{#if order.productionTeam}}
    </form >
    {{/if}}

    {{!-- Courses --}}
    <div class="section-wrapper" hidden>
        <div class="section-title">
            <h4><i class="fas fa-cogs"></i> Assigned Jobs</h4>
            <hr class="my-3">
        </div>
        <div class="section-content">
            <table id="filterable-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date Created</th>
                        <th scope="col">Job #</th>
                        <th scope="col">Vehicle #</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                        {{#if showPii}}
                        <th scope="col">Actions</th>
                        {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <td><a href="/courses/course/{{this._id}}" id="courseCode-{{this.code}}">{{this.code}}</a></td>
                        <td><a href="/courses/course/{{this._id}}">{{this.section}}</a></td>
                        <td><a href="/courses/course/{{this._id}}">{{this.instructorFullName}}</a></td>
                        <td><a href="/courses/course/{{this._id}}">{{this.termName}}</a></td>
                        {{#if ../showPii}}
                        <td class="table-actions">
                            <a href="/gradeBooks/{{this._id}}/{{../order._id}}" id="viewGrade-{{this.code}}"><i class="far fa-hand-spock"></i> View Grades</a>
                        </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.nav-link').click(function(){
            $('.nav-link.active').removeClass('active')
            $(this).addClass('active')
        })
    })
    function output(t){
        console.log(t);
    }
    function getModel(items){
        let model = document.getElementById('requestModal');
        let mContent = document.getElementById("requestContent");
        var span = document.getElementsByClassName("close")[0];

        model.style.display = "block";
        mContent.insertAdjacentHTML("beforeend",`{{>produceItem}}`);
        console.log(items);
        
        let table = $('#filterable-table-next').DataTable();
        for(let i = 0; i < items.stock_item.length; i++){
           table.row.add($(`
                <tr>
                    <td hidden> <input id='stockId' name='stockId' value='${items.stock_item[i].id}'> </td>
                    <td> ${i + 1} </td>
                    <td> ${items.stock_item[i].SupplierName} </td>
                    <td> ${(items.stock_item[i].quantity - items.stock_item[i].reserved)} </td>
                    <td> ${items.stock_item[i].cost} </td>
                    <td style='width: 10%'> <input class='form-control prevent-max' style='background: inherit; font-size: 0.86vw; text-size-adjust: auto;' id='ammountToReserve-${items.stock_item[i].id}' type='number' max='${(items.stock_item[i].quantity - items.stock_item[i].reserved)}' </td>
                </tr>
            `)).draw();
           
        }

        $('.prevent-max').on('keydown keyup change', function(e){
            console.log($(this).attr('max'));
            if ($(this).val() > parseFloat($(this).attr('max'))
                && e.keyCode !== 46 // keycode for delete
                && e.keyCode !== 8 // keycode for backspace
            ) {
                e.preventDefault();
                $(this).val($(this).attr('max'));
            }
        });


        span.onclick = function() {
            model.style.display = "none";
            mContent.innerHTML='';
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == model) {
                model.style.display = "none";
                mContent.innerHTML='';
            }
        }
    }

    function getItems(location){
        if(location === "stock"){
            let ids = document.getElementsByName('stockId');
            for(let i = 0; i < ids.length; i++){
                let reserveAmmount = document.getElementById(`ammountToReserve-${ids[i].value}`).value;
                console.log(`id: ${ids[i].value}, reserve: ${reserveAmmount} `);
            }
           
        }
    }
    
</script>
<style>
    .nav-item>a:hover {
        background-color: #BF2B45;
    }
  
    /*code to change background color*/
    .nav-item>a.nav-link.active {
        background-color: #BF2B45;
    }

    #filterable-table>tbody>tr:hover {
        cursor: pointer;
        color: #fff;
        background-color:#BF2B45;
        transition: background-color 0.3s;
    }

</style>