<div class="col-md-12">
    {{!-- Action Buttons --}}
    <div class="header-action-buttons pull-right">
        {{#if user.admin}}
            <a href="/users/delete/{{existingUser.id}}" role="button" class="btn btn-danger delete" id="delete" class="delete"data-confirm="Are you sure to delete Employee ID# {{existingUser.id}}?"><i class="fas fa-trash" aria-hidden="true"></i> Delete</a>
        {{/if}}
    </div>

    {{!-- User Information --}}
    <div class="section-wrapper">
        <div class="section-title">
            <h4><i class="fas fa-user-alt"></i> User Information</h4>
            <hr class="my-3">
        </div>
        <div class="section-content">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <div class="form-row" style="padding-bottom: 15px;">
                        <div class="form-group col">
                            {{#if (greaterThan existingUser.employees.length 0)}}
                            <button type="button" id="staff" name="staff" class="btn btn-outline-primary" style="margin-right: 15px;">View Staff</button>
                            {{/if}}
                             {{#if loggedUser.restrictions.edit_users}}
                                <div class="btn-group" role="group" style="float:right" aria-label="Basic example">
                                    <button type="button" id="update" name="update" class="btn btn-outline-success">Update</button>
                                    <button type="button" id="delete" name="delete" class="btn btn-outline-danger">Delete</button>
                                </div>
                            {{/if}}
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="id">Employee ID</label>
                            <input type="text" class="form-control" name="id" id="id" value="{{existingUser.id}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="managerId">Manager ID</label>
                            <input type="text" class="form-control" name="managerId" id="managerId" value="{{existingUser.Work_For.managerId}}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="firstName" value="{{existingUser.firstName}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" value="{{existingUser.lastName}}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="managerFirstName">Manager First Name</label>
                            <input type="text" class="form-control" name="managerFirstName" id="managerFirstName" value="{{existingUser.manager.firstName}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="managerLastName">Manager Last Name</label>
                            <input type="text" class="form-control" name="managerLastName" id="managerLastName" value="{{existingUser.manager.lastName}}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="division">Division</label>
                            <input type="text" class="form-control" name="division" id="division" value="{{existingUser.division}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="department">Department</label>
                            <input type="text" class="form-control" name="department" id="department" value="{{existingUser.department}}" readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col display-user">
                            <label for="jobTitle">Job Title</label>
                            <input type="text" class="form-control" name="jobTitle" id="jobTitle" value="{{existingUser.jobTitle}}" readonly>
                        </div>
                        <div class="form-group col display-user">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" name="email" id="email" value="{{existingUser.email}}" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-8" style="padding-left: 20px">
                    <ul class="nav" style="background-color: #222222;">
                        <li class="nav-item active">
                            <a class="nav-link active" href="#">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Not Started</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">In Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Completed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pending</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Requested</a>
                        </li>
                    </ul>
                     <div id="ordersList" name="ordersList">
                         {{>userAllOrders}}
                     </div>
                  
                </div>
            </div>
            <div id="requestModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="requestContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.nav-link').click(function(){
            $('.nav-link.active').removeClass('active')
            $(this).addClass('active')
            const selectedOption = $(this).text()
            $("#ordersList").html("")
            if(selectedOption === "All"){
                $("#ordersList").append(`{{>userAllOrders}}`)

            }else if(selectedOption === "Not Started"){
                $("#ordersList").append(`{{>userNotStartedOrders}}`)

            }else if(selectedOption === "In Progress"){
                $("#ordersList").append(`{{>userInProgressOrders}}`)

            }else if(selectedOption === "Completed"){
                $("#ordersList").append(`{{>userCompletedOrders}}`)

            }else if(selectedOption === "Pending"){
                $("#ordersList").append(`{{>userPendingOrders}}`)

            }else if(selectedOption === "Requested"){
                $("#ordersList").append(`{{>userRequestedOrders}}`)

            }

        })

         $("#staff").click(function(){
            const modal = document.getElementById("requestModal");
            const mContent = document.getElementById("requestContent")
            // Get the button that opens the modal
      
            // Get the <span> element that closes the modal
            const span = document.getElementsByClassName("close")[0];
            // When the user clicks on the button, open the modal
            modal.style.display = "block";
            mContent.insertAdjacentHTML("beforeend",`{{>displayUserEmployees}}`)

            span.onclick = function() {
                modal.style.display = "none";
                mContent.innerHTML='';
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                    mContent.innerHTML='';

                }

            }

        })

    })   

</script>
 <style>
    .nav-item>a:hover {
        background-color: #BF2B45;
    }
  
    .nav-item>a.nav-link.active {
        background-color: #BF2B45;
    }
</style>